* {
  padding: 0;
  margin: 0;
}


#header {
  position: fixed;
}


#topbar {
  width: 100vw;
  background-color: rgb(255, 71, 71);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}

#topbar p {
  color: white;
  text-transform:uppercase;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 30px 35px;
  font-size: 20px;
}

#navleft,
#navright {
  display: flex;
  gap: 25px;
}

#a {
  color: black;
}

#b {
  background-color: rgb(255, 71, 71);
  padding: 5px;
  font-size: 15px;
}

#navbar a {
  color: white;
  text-decoration: none;
}

#navmid a img {
  height: 50px;
}

#navright a span {
  color: black;
}

#navright img{
  height: 30px
}

#gap {
  height: 180px;
}

#TC p {
  display: flex;
  width: 600px;
  flex-direction: column;
  box-sizing: border-box;
  margin: auto;
  background-color: white;
  font-size: 20px;
}

#TC p span {
  color: white;
}

/* footer */

.footer {
  background: #000;
  color: #fff;
  padding: 60px;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left h3 {
  font-size: 35px;
  margin-bottom: 15px;
  color: #fff;
}

.footer-left h3 span {
  color: #e53935; /* đỏ như trong ảnh */
}

.salt img {
  width: 250px;
}

.footer-logo img {
  width: 250px;
  margin-bottom: 120px;
}

#footer-right {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: end;
}

.footer-links {
  display: flex;
  gap: 100px;
  font-size: 14px;
}

.footer-links div {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  color: #aaa;
  margin-bottom: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #fff;
}

#currency {
  margin-bottom: 10px;
  padding: 5px;
  background: #111;
  color: #fff;
  border: 1px solid #444;
}

.footer-right h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-right p {
  font-size: 13px;
  margin-bottom: 15px;
  color: #ccc;
}

.subscribe-form {
  display: flex;
  border-bottom: 1px solid #555;
}

.subscribe-form input {
  flex: 1;
  padding: 8px;
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
}

.subscribe-form button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
}

.subscribe-form button:hover {
  color: #e53935;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  text-align: end;
  font-size: 12px;
  color: #777;
}

.footer-bottom a{
  color: #777;
  text-decoration: none;
  font-size: 12px;
}
